In [49]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [50]:
df=pd.read_csv('./Advertising Budget and Sales.csv')
df.head()

,Unnamed: 0,TV Ad Budget ($),Radio Ad Budget ($),Newspaper Ad Budget ($),Sales ($)
0,1,230.1,37.8,69.2,22.1
1,2,44.5,39.3,45.1,10.4
2,3,17.2,45.9,69.3,9.3
3,4,151.5,41.3,58.5,18.5
4,5,180.8,10.8,58.4,12.9

In [51]:
# X=df[['Radio Ad Budget ($)']] # Exp 1

# X=df[['TV Ad Budget ($)']] # Exp 2

# X=df[['Newspaper Ad Budget ($)']] # Exp 3

# X=df[['TV Ad Budget ($)','Radio Ad Budget ($)']] # Exp 4

# X=df[['Newspaper Ad Budget ($)','TV Ad Budget ($)']] # Exp 5

X=df[['Newspaper Ad Budget ($)','Radio Ad Budget ($)']] # Exp 6

Y=df['Sales ($)']

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [52]:
def LRGD(X_train,X_test,Y_train,Y_test,lr=0.001,iters=5000):
    
    mean=np.mean(X_train,axis=0)
    std=np.std(X_train,axis=0)
    X_train_norm=(X_train-mean)/std
    X_test_norm=(X_test-mean)/std

    X_train_b=np.c_[np.ones(X_train_norm.shape[0]),X_train_norm]
    X_test_b=np.c_[np.ones(X_test_norm.shape[0]),X_test_norm]

    m,n=X_train_b.shape
    theta=np.zeros(n)

    for i in range(iters):
        pred=np.dot(X_train_b,theta)
        error=pred-Y_train
        grad=(1/m)*np.dot(X_train_b.T,error)
        theta-=lr*grad

    y_pred=np.dot(X_test_b,theta)

    return y_pred

In [53]:
y_pred=LRGD(X_train,X_test,Y_train,Y_test)

In [54]:
rmse=sqrt(mean_squared_error(Y_test,y_pred))
print(rmse)

4.796079709408915