In [1]:
print("Exp 43 - PCA")

Exp 43 - PCA

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA

In [51]:
df=pd.read_csv("./Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [52]:
# Step 1 : Cleaning
df.info()

missing_values = df.isnull().sum()
print("\nMissing Values in Each Column:\n", missing_values)

# 2. Check for Duplicate Records
duplicate_rows = df.duplicated().sum()
print("\nNumber of Duplicate Rows:", duplicate_rows)

# Remove duplicates if any
data = df.drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

Missing Values in Each Column:
 Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

Number of Duplicate Rows: 0

In [53]:
X=df.drop(columns='Species')
Y=df['Species']
Y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [55]:
# Step 2 :
Classifier1=RandomForestClassifier(n_estimators=100,random_state=42)
Classifier1.fit(X_train,Y_train)

y_pred1=Classifier1.predict(X_test)

In [56]:
accuracy1=accuracy_score(Y_test,y_pred1)
print(accuracy1)

1.0

In [58]:
# Step 3 : 
pca = PCA(n_components=2)
x_train2=pca.fit_transform(X_train)
x_test2=pca.transform(X_test)

Classifier2=RandomForestClassifier(n_estimators=100,random_state=42)
Classifier2.fit(x_train2,Y_train)

y_pred2=Classifier2.predict(x_test2)

accuracy2=accuracy_score(Y_test,y_pred2)
print(accuracy2)

1.0