In [32]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [33]:
df=pd.read_csv('./car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [34]:
def LRGD(X_train,X_test,Y_train,Y_test,lr=0.001,iters=5000):
    mean=np.mean(X_train,axis=0)
    std=np.std(X_train,axis=0)
    X_train_norm=(X_train-mean)/std
    X_test_norm=(X_test-mean)/std

    X_train_b=np.c_[np.ones(X_train_norm.shape[0]),X_train_norm]
    X_test_b=np.c_[np.ones(X_test_norm.shape[0]),X_test_norm]

    m,n=X_train_b.shape
    theta=np.zeros(n)
    
    for i in range(iters):
        pred=np.dot(X_train_b,theta)
        error=pred-Y_train
        grad=(1/m)*np.dot(X_train_b.T,error)
        theta-=lr*grad

    y_pred=np.dot(X_test_b,theta)
    return y_pred

In [51]:
le=LabelEncoder()
df['Transmission']=le.fit_transform(df['Transmission'])

# X=df[['Year']] #Exp 7
# X=df[['Kms_Driven']] #Exp 8
# X=df[['Transmission']] #Exp 9
# X=df[['Owner']] #Exp 10
# X=df[['Year','Kms_Driven']] #Exp 11
# X=df[['Year','Transmission']] #Exp 12
# X=df[['Year','Owner']] #Exp 13 14
# X=df[['Kms_Driven','Transmission']] #Exp 15
# X=df[['Kms_Driven','Owner']] #Exp 16
X=df[['Transmission','Owner']] #Exp 17 18

Y=df['Selling_Price']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

y_pred=LRGD(X_train,X_test,Y_train,Y_test)

In [52]:
rmse=sqrt(mean_squared_error(Y_test,y_pred))
print(rmse)

4.515632002285155